In [1]:
import numpy as np
import pandas as np

# Task 1:

In [ ]:
#2.Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 
#(both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [2]:
nl=[]
for x in range(2000, 3200):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

In [ ]:
#3.Write a Python program to accept the user's first and last name and then getting them printed in
#the the reverse order with a space between first name and last name.

In [3]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : Madhu
Input your Last Name : Sudhan
Hello  Sudhan Madhu

In [4]:
#4.Write a Python program to find the volume of a sphere with diameter 12 cm.
#Formula: V=4/3 * Ï€ * r 3

In [34]:
pi = 3.1415926535897931
r= 12.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  7238.229473870882

# Task 2:

In [9]:
#1.Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [7]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 3,6,5,8,9,
List :  ['3', '6', '5', '8', '9', '']
Tuple :  ('3', '6', '5', '8', '9', '')

In [10]:
#2.Create the below pattern using nested for loop in Python.
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * *
# * * *
# * *
# *

In [11]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
#3.Write a Python program to reverse a word after accepting the input from the user.

In [13]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: Madhu Sudhan
nahduS uhdaM

In [ ]:
#4.Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [29]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a \n\t\tSOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\tand to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a
		SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens